MCNumerics/MCNumerics.xcodeproj/project.xcworkspace/xcshareddata/MCNumerics.xccheckout
MCNumerics/MCNumerics.xcodeproj/xcuserdata/andrew.mcknight.xcuserdatad/xcschemes/MCNumerics.xcscheme
MCNumerics/MCNumerics.xcodeproj/xcuserdata/andrew.mcknight.xcuserdatad/xcschemes/xcschememanagement.plist
