[submodule "External/RZCollectionList"]
	path = External/RZCollectionList
	url = git://github.com/Raizlabs/RZCollectionList.git
[submodule "External/MCKNumerics"]
	path = External/MCKNumerics
	url = git://github.com/armcknight/MCKNumerics.git
