[submodule "External/RZCollectionList"]
	path = External/RZCollectionList
	url = https://sixstringtheory@github.com/Raizlabs/RZCollectionList.git
[submodule "External/MCKNumerics"]
	path = External/MCKNumerics
	url = https://sixstringtheory@github.com/sixstringtheory/MCKNumerics.git
